<div id="small-page">

  <h1>How To Help</h1>

  <h4><em>I <strong>want</strong> to help, but what can <strong>I</strong> do?</em></h4>


  <div class="rebel-collapse">

    <a role="button" data-toggle="collapse" href="#spareTime">
      <h4><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <em>I can spare some time to help offline...</em></h4>
    </a>

    <div class="collapse in" id="spareTime">
        <ul>
          <li>
            <%= link_to "Campaign Together", "http://campaigntogether.org/", target: :_blank %>
            - Help progressive candidates by knocking on doors and talking to voters
            (also check out their <%= link_to "Facebook Events Page", "https://www.facebook.com/pg/campaigntogether/events/", target: :_blank %>)
          </li>
          <li>
            <%= link_to "#CallYourGrandfolks", "https://youtu.be/zOK1F_KNSz8?list=PLTYmWuFco1_00S6qzWXnoALU9kT_q1yuD", target: :_blank %>
            - Owen Jones campaign to make sure older voters are aware of the Tory policies which will hit pensioners
          </li>
          <li>
            <%= link_to "Volunteer for the National Health Action Party in SW Surrey to kick out Jeremy Hunt",
                "https://nhaswsurrey.wordpress.com/you-can-help/", target: :_blank %>
          </li>
          <li>
            <%= link_to "Volunteer for Labour", "http://www.labour.org.uk/volunteering", target: :_blank %>
          </li>
          <li>
            <%= link_to "Volunteer for the Liberal Democrats", "http://www.libdems.org.uk/volunteer", target: :_blank %>
          </li>
          <li>
            <%= link_to "Volunteer for the Green Party", "https://www.greenparty.org.uk/getinvolved/", target: :_blank %>
          </li>
        </ul>
    </div>

  </div>


  <div class="rebel-collapse">

    <a role="button" data-toggle="collapse" href="#spareCash">
      <h4><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <em>I can spare a little cash...</em></h4>
    </a>

    <div class="collapse in" id="spareCash">
        <ul>
          <li>
            <%= link_to "Campaign Together", "https://www.crowdpac.co.uk/campaigns/2594/campaign-together", target: :_blank %>
            - Help Campaign Together train canvassers, fund phone calls, and pay for social media ads
          </li>
          <!--<li>
            <%= link_to "#StopTheTories #RegisterToVote", "https://www.youcaring.com/centralpublishingfundofstopthetories-811510", target: :_blank %>
            - Sponsor a Facebook ad encouraging young people in marginal constituencies to register to vote
          </li>-->
          <li>
            <%= link_to "Owen Jones #StopTheLandslide", "https://www.crowdpac.co.uk/campaigns/2320/the-stop-a-tory-landslide-fund", target: :_blank %>
            - Owen Jones (The Guardian journalist &amp; Labour activist) crowd funder to stop a Tory landslide
          </li>
        </ul>
    </div>

  </div>


  <div class="rebel-collapse">

    <a role="button" data-toggle="collapse" href="#socialMedia">
      <h4><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <em>I can use social media...</em></h4>
    </a>

    <div class="collapse in" id="socialMedia">
        <ul>
          <li>
            Support Thunderclaps! Help cause a social media storm!
            <ul>
              <!--<li><%= link_to "Register To Vote 1", "https://www.thunderclap.it/projects/57187-register-to-vote-uk-ge2017", target: :_blank %> (thunderclap.it)</li>-->
              <!--<li><%= link_to "Register To Vote 2", "https://headtalker.com/campaigns/register-to-vote-uk-ge2017/", target: :_blank %> (headtalker.com)</li>-->
              <!--<li><%= link_to "Register To Vote 3", "https://www.thunderclap.it/projects/56899-register-to-vote-in-ge2017", target: :_blank %> (thunderclap.it)</li>-->
              <li><%= link_to "Vote Tactically on 8th June", "https://www.thunderclap.it/projects/56841-vote-tactically-on-8th-june", target: :_blank %> (thunderclap.it)</li>
            </ul>
          </li>
          <li>
            Follow #ProgressiveAlliance groups to stay up to date with the latest developments
            <ul>
              <li>
                Compass
                - <%= link_to "Facebook", "https://www.facebook.com/CompassGoodSociety/", target: :_blank %>
                - <%= link_to "Twitter", "https://twitter.com/CompassOffice", target: :_blank %>
              </li>
              <li>
                Campaign Together
                - <%= link_to "Facebook", "https://www.facebook.com/campaigntogether/", target: :_blank %>
                - <%= link_to "Twitter", "https://twitter.com/campaign2017", target: :_blank %>
              </li>
              <li>
                Tactical2017
                - <%= link_to "Facebook", "https://www.facebook.com/Tactical2017/", target: :_blank %>
                - <%= link_to "Twitter", "https://twitter.com/UKtactical2017", target: :_blank %>
              </li>
              <li>
                StopTheTori.es
                - <%= link_to "Twitter", "https://twitter.com/votetools", target: :_blank %>
              </li>
              <li>
                The Progressive Alliance
                - <%= link_to "Facebook", "https://www.facebook.com/theprogressivealliance/", target: :_blank %>
                - <%= link_to "Twitter", "https://twitter.com/TheProgAlliance", target: :_blank %>
              </li>
              <li>
                People for a Progressive Alliance
                - <%= link_to "Facebook", "https://www.facebook.com/PeopleforaProgressiveAlliance/", target: :_blank %>
                - <%= link_to "Twitter", "https://twitter.com/PPL4PA", target: :_blank %>
              </li>
              <li>
                Stop The Tories 2017
                - <%= link_to "Facebook", "https://www.facebook.com/StopTheTories17/", target: :_blank %>
                - <%= link_to "Twitter", "https://twitter.com/StopTories17", target: :_blank %>
              </li>
              <li>
                People's Progressive Alliance UK
                - <%= link_to "Facebook", "https://www.facebook.com/peoplesprogressivealliance/", target: :_blank %>
              </li>
              <li>
                National Health Action Party - South West Surrey
                - <%= link_to "Twitter", "https://twitter.com/nha_swsurrey", target: :_blank %>
              </li>
              <li>
                Brighton &amp; Hove Compass
                - <%= link_to "Facebook", "https://www.facebook.com/BrightonHoveCompass/", target: :_blank %>
                - <%= link_to "Twitter", "https://twitter.com/BtnHoveCompass", target: :_blank %>
              </li>
              <li>
                West of England Progressives
                - <%= link_to "Facebook", "https://www.facebook.com/WoEProgressives/", target: :_blank %>
                - <%= link_to "Twitter", "https://twitter.com/WoEProgressives", target: :_blank %>
              </li>
              <li>
                Essex Progressive Alliance
                - <%= link_to "Twitter", "https://twitter.com/ProgEssex", target: :_blank %>
              </li>
              <li>
                Sussex Progressives
                - <%= link_to "Facebook", "https://www.facebook.com/SussexProgressives/", target: :_blank %>
                - <%= link_to "Twitter", "https://twitter.com/SProgressives", target: :_blank %>
              </li>
              <li>
                Oxford Compass
                - <%= link_to "Facebook", "https://www.facebook.com/oxfordprogressivealliance/", target: :_blank %>
                - <%= link_to "Twitter", "https://twitter.com/Compass_OX", target: :_blank %>
              </li>
              <li>
                York Vote Swap
                - <%= link_to "Facebook", "https://www.facebook.com/york.europe/", target: :_blank %>
                - <%= link_to "Twitter", "https://twitter.com/York4EU", target: :_blank %>
              </li>
            </ul>
          </li>
        </ul>
    </div>

  </div>


</div>
