<div id="small-page">

  <h1>How Should I Vote?</h1>

  <h4>Only you can decide, but here's some sites that might help...</h4>


  <div class="rebel-collapse">

    <a role="button" data-toggle="collapse" href="#tacticalVote">
      <h4><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Tactical Voting</h4>
    </a>

    <div class="collapse in" id="tacticalVote">
        <ul>
          <li><%= link_to "Tactical2017", "https://www.tactical2017.com", target: :_blank %></li>
          <li><%= link_to "VoteSmart", "http://www.progressivealliance.org.uk/vote-smart", target: :_blank %></li>
          <li><%= link_to "StopTheTori.es", "https://stopthetori.es/", target: :_blank %></li>
          <li><%= link_to "Open-Britain", "http://www.open-britain.co.uk/", target: :_blank %></li>
          <li><%= link_to "SwapMyVote", "https://www.swapmyvote.uk", target: :_blank %> - If your preferred party has little chance where you live, swap with someone living elsewhere</li>
        </ul>
    </div>

  </div>


  <div class="rebel-collapse">

    <a role="button" data-toggle="collapse" href="#student">
      <h4><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Student? Wondering whether to vote at Home or at Uni?</h4>
    </a>

    <div class="collapse in" id="student">
      <ul>
        <li><%= link_to "#GE2017 beta", "http://ge2017.com/students", target: :_blank %></li>
      </ul>
    </div>

  </div>


</div>
