<h1>Constituencies</h1>

<table id="constituencies" class="table table-bordered party order-column" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th></th>
      <th colspan="8">Previous Election</th>
      <th></th>
      <th colspan="6">Population Estimates</th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Winner</th>
      <th>Vote Share (%)</th>
      <th>Majority (%)</th>
      <th>Majority</th>
      <th>2nd Place</th>
      <th>2nd Place Votes</th>
      <th>3rd Place</th>
      <th>3rd Place Votes</th>
      <th>Brexit Leave Vote (%)</th>
      <th>Gender Ratio (% Female)</th>
      <th>Under 18s (%)</th>
      <th>18-34 (%)</th>
      <th>35-49 (%)</th>
      <th>50-64 (%)</th>
      <th>65+ (%)</th>
    </tr>
  </thead>

  <tbody>
    <% @constituencies.each do |c| %>
      <% summary = c.constituency_summary %>

      <tr>
        <td><%= link_to c.name, c %></td>
        <td class="<%= summary.party_1_id %>"><%= summary.party_1_id %></td>
        <td class="<%= summary.party_1_id %>"><%= summary.party_1_vote_share_percent.round(2) %></td>
        <td class="<%= summary.party_1_id %>"><%= summary.party_1_ahead_behind.round(2) %></td>
        <td class="<%= summary.party_1_id %>"><%= summary.party_1_ahead_behind_percent %></td>
        <td><%= summary.party_2_id %></td>
        <td><%= summary.party_2_votes %></td>
        <td><%= summary.party_3_id %></td>
        <td><%= summary.party_3_votes %></td>
        <td><%= summary.eu_ref_leave_vote_percent.try(:round, 2) || "Unknown" %></td>
        <td><%= ( summary.pop_total_f && summary.pop_total ? (summary.pop_total_f.to_f / summary.pop_total).round(2) : "Unknown") %></td>
        <td><%= summary.pop_0_17_percent.try(:round, 2) || "Unknown" %></td>
        <td><%= summary.pop_18_34_percent.try(:round, 2) || "Unknown" %></td>
        <td><%= summary.pop_35_49_percent.try(:round, 2) || "Unknown" %></td>
        <td><%= summary.pop_50_64_percent.try(:round, 2) || "Unknown" %></td>
        <td><%= summary.pop_65_plus_percent.try(:round, 2) || "Unknown" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
