<h1>Constituencies</h1>

<table id="constituencies" class="table table-bordered party datatables order-column" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th colspan="2"></th>
      <th colspan="7">Previous Election</th>
      <th></th>
      <th colspan="5">Population Estimates</th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Region</th>
      <th>Winner</th>
      <th>Vote Share (%)</th>
      <th>Majority</th>
      <th>2nd Place</th>
      <th>2nd Place Vote Share (%)</th>
      <th>3rd Place</th>
      <th>3rd Place Vote Share (%)</th>
      <th>Brexit Leave Vote (%)</th>
      <th>Under 18s (%)</th>
      <th>18-34 (%)</th>
      <th>35-49 (%)</th>
      <th>50-64 (%)</th>
      <th>65+ (%)</th>
    </tr>
  </thead>

  <tbody>
    <% @constituencies.each do |c| %>
      <% election_summary = c.most_recent_election_result.summary %>
      <% area_summary = c.area_summary %>

      <tr>
        <td><%= link_to c.name, c %></td>
        <td><%= c.region.name %></td>
        <td class="<%= election_summary.party_1_id %>"><%= election_summary.party_1_id %></td>
        <td class="<%= election_summary.party_1_id %>"><%= election_summary.party_1_vote_share_percent.round(2) %></td>
        <td class="<%= election_summary.party_1_id %>"><%= election_summary.party_1_ahead_behind %></td>
        <td><%= election_summary.party_2_id %></td>
        <td><%= election_summary.party_2_vote_share_percent.round(2) %></td>
        <td><%= election_summary.party_3_id %></td>
        <td><%= election_summary.party_3_vote_share_percent.round(2) %></td>
        <td><%= area_summary.eu_ref_leave_vote_percent.try(:round, 2) || "Unknown" %></td>
        <td><%= area_summary.pop_0_17_percent.try(:round, 2) || "Unknown" %></td>
        <td><%= area_summary.pop_18_34_percent.try(:round, 2) || "Unknown" %></td>
        <td><%= area_summary.pop_35_49_percent.try(:round, 2) || "Unknown" %></td>
        <td><%= area_summary.pop_50_64_percent.try(:round, 2) || "Unknown" %></td>
        <td><%= area_summary.pop_65_plus_percent.try(:round, 2) || "Unknown" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
