<h1><%= @constituency.name %></h1>

<%= render partial: "shared/constituency_executive_summary", object: @constituency %>

<%= render partial: "shared/constituency_population_summary", object: @constituency %>

<% @constituency.elections.sort { |a,b| b.election_date <=> a.election_date }.each do |election| %>
  <%= render partial: "shared/constituency_election", object: election %>
<% end %>

<% @constituency.population_estimates.each do |pop_est| %>
  <h3><%= pop_est.estimate_description %></h3>
  <%= column_chart pop_est.population_hash, stacked: true %>
  <%= column_chart pop_est.population_hash([[0,17], [18,34], [35,49], [50,64], [65,90]]), stacked: true %>
  <%= pie_chart pop_est.gender_hash, library: {pieSliceText:'value-and-percentage'} %>
<% end %>
